* {
    margin: 0;
    padding: 0;
}

.nevbar {
    height: 70px;
    background-color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

body {
    background-color: rgb(237, 193, 255);
}

.logo {
    height: 64px;
}

.nev-first {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.logo-text {
    font-size: 20px;
    font-weight: 500;
    font-family: sans-serif;
    color: white;
}

.Vertical-line {
    width: 2px;
    height: 30px;
    background-color: white;
}

.nev-sec {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin: 12px;
}

.primary-button {
    font-size: 18px;
    background-color: black;
    color: white;
    border-radius: 5px;
    border: 1px solid white;
    padding: 2px;
}

.sign-up-button {
    font-size: 18px;
    background-color: rgb(50, 70, 247);
    color: white;
    border-radius: 5px;
    border: 1px solid white;
    padding: 2px;
}

.first-section {
    text-align: center;
    background-color: rgba(218, 219, 255);
    height: 200px;
    width: 100%;
    padding: 12PX 20px;
    font-size: 16px;
}

.main-heading {

    text-align: center;
    font-family: sans-serif;
    font-weight: 400px;
    padding-bottom: 20px;
}
.search {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
input{
    width: 300px;
    padding: 5px;
    box-shadow: rgba(28, 27, 27, 0.687) 10px 10px 40px;
    border: 2px;
    padding: 10px 10px;
}
.services{
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
}
.first-contener{
    display: flex;
    flex-direction: column;
    gap:100px;
}
.service{
    display: flex;
    gap:10px;
    width: 400px;
}
.service-icon{
    height: 60px;
}
.service-heading{
    font-size: 20px ;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serifS;
    font-weight: 700px;
}
.service-info{
    font-size: 14px;
    font-family: sans-serif;
    font-weight:700px;}